<!DOCTYPE html>
<html>
<head>
  <title>Ninetyninecats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
	Hi <%= @current_user.user_name %>
	<%= button_to "Log out", session_url(session[:session_token]), :method => :delete %>
	<% else %>
	<%= link_to "Log in", new_session_url %>
	<% end %>

	<% if flash[:errors] %>
<ul>
	<% flash[:errors].each do |error| %>
	<li><%= error %></li>
	<% end %></ul>
	<% end %>

<%= yield %>

</body>
</html>
